<div class="login">
  <div class="container-login">
    <h1>Login</h1>
    <div class="campos">
      <input type="text" id="usuario" [(ngModel)]="usuario" name="usuario" autofocus>
      <input type="password" id="senha" [(ngModel)]="senha" name="senha">
      <button (click)="login()">Entrar</button>
      <div *ngIf="errorMessage" class="container-error">
        <p class="error-card">{{ errorMessage }} </p>
      </div>
      <span>Desenvolvido por Anderson Alves</span>
    </div>
  </div>
</div>
