<div class="container-master">
  <div class="container">

    <!-- Cabeçalho -->
    <header>
      <img src="" alt="Logo do site">
      <div>
        <ul>
          <li>Início</li>
          <li>Minha área</li>
        </ul>
        <div class="secao_usuario">
          <span>Anderson Alves</span>
          <img src="../assets//icon-people.svg" alt="avatar">
        </div>
      </div>
    </header>

    <!-- Poster -->

    <section class="section-poster">
      <aside class="poster_principal">
        <h1>TRANSFORMERS</h1>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
      </aside>
      <div  [style.background-image]="'linear-gradient(to right, #141414, rgba(0, 0, 0, 0)), url(' + myUrl + ')'" class="poster"></div>
    </section>


    <!-- Filmes Brasileiros -->

    <section class="filmes_brasileiros">
      <h2>10 Filmes Brasileiros recentes</h2>

      <div class="container-card">
        <div *ngFor="let filme of lista10Filmes">
          <div class="card" (click)="openDialogCurtidos(filme.id, 0, filme.image, filme.plot, filme.title)"
          [style.background-image]="'url(' + filme.image + ')'"></div>
        </div>
      </div>
    </section>

    <!-- Filmes Curtidos -->

    <section class="filmes_brasileiros">
      <h2>Filmes curtidos</h2>

      <div class="container-card">
        <div *ngFor="let filme of filmesCurtidos">
          <div class="card" (click)="openDialogCurtidos(filme._id, filme.count, filme.image[0],
          filme. plot[0], filme.title[0])" [style.background-image]="'url(' + filme.image + ')'"></div>
        </div>
      </div>
    </section>

    <footer>
      <p>Desenvolvido por Anderson Alves</p>
    </footer>
  </div>
</div>

