<div class="container-dialog">
  <div (click)="fechaDialog()" class="close-dialog"><mat-icon>close</mat-icon></div>
  <img src="{{data.image}}" alt="imagem" class="imagem-principal">

  <div class="info-filmes">
    <div class="titulos">
      <h3>{{data.title}}</h3>
      <div class="box-curtida" (click)="handleClickCurtida()">
        <mat-icon [ngClass]="filmeJaCurtido ? 'primary-button' : ''" button-like>thumb_up</mat-icon>
        <span>{{data.count}}</span>
      </div>
    </div>
    <p>{{data.plot}}</p>
  </div>
</div>
